.root {
   -fx-font: bold 16px Tahoma;
}

.gridPane {
	-fx-padding: 10px;
	-fx-vgap: 5px;
	-fx-hgap: 5px;
}

.error {
   -fx-border-color: red;
}

.button {
   -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.label {
   -fx-padding: 10px;
   -fx-font-family: 'Magneto';
   -fx-font: bold 24px Magneto;
}

.image-view {
   -fx-border-color: red;
   -fx-background-color: green;
   -fx-color: orange;
   -fx-opacity: 0.8;
   -fx-cursor: hand;
}

.image-view:hover {
    -fx-opacity: 1.0;
}


.pane{
    -fx-background-color: blue;
}

#headingvbox{
    -fx-background-color: #27742d;
    -fx-alignment: center;
}

#headingvbox .label{
    -fx-text-fill: #ffd700;
}

#headerhbox{
    -fx-background-color: rgba(39,116,45,1);
}

#headerhbox .label{
    -fx-text-fill: #ffd700;
}

#productsvbox {
    -fx-background-color: rgba(39,116,45,1);
    -fx-alignment: center;
}

#productsvbox .label{
    -fx-text-fill: #ffd700;
}

#productItemsHBox .text{
    -fx-font: 13px Magneto;
}

#mainproductsgrid .button{
    -fx-font: 10px Magneto;
}
#footerHBox {
    -fx-background-color: rgba(39,116,45,1);
    -fx-padding: 5px;
}

#footerHBox .label{
    -fx-text-fill: #ffd700;
}

#footerHBox .text{
    -fx-font: 12px Magneto;
}

#itemChoicesFooterHBox{
    -fx-background-color: rgba(39,116,45,1);
    -fx-padding: 5px;
}

#overviewHeaderHBox{
    -fx-background-color: rgba(39,116,45,1);
}

#overviewHeaderHBox .label{
    -fx-text-fill: #ffd700;
}

#overviewFooterHBox{
    -fx-background-color: rgba(39,116,45,1);
    -fx-padding: 5px;
}

#overviewFlowPane .text{
    -fx-font: 14px Magneto;
}

#overviewFooterHBox .text{
    -fx-text-fill: #ffd700;
    -fx-font: 12px Magneto;
}


